html,
body {
  padding: 0;
  margin: 0;
  background-color: #77E4C8;
}

/* login */
.wrapper {
  /* border: 2px solid black; */
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Adds a shadow */
  /* width: 85%; */
  background-color: #fff;
}

.page {
  background-color: #77E4C8;
}


/* Navbar */
.navbar {
  background-color: #77E4C8 !important;
}

.main-page {
  background-color: #77E4C8;
}

#column{
  margin-top: 50% !important;
}


/* button */

#button {
  width: 150px !important;
  height: 60px;
  background-color: #478CCF !important;
}